.side-bar{
    position: sticky;
    top: 0;
}

.completed-btn{
    width: 100%;
    background-color: #0cffd7;
    border: none;
    border-radius: 5px;
}

.completed-btn:hover{
    background-color: #02ae92;
    color: #fff;
    cursor: pointer;
}